.input-wrapper{
    height: 10em;
    display: flex;
    align-items: flex-end;
   flex-direction: column;
   padding: 16px;
}

.result{
    margin-top: -50px;
    flex: 1;
    font-size: 24px;
    color: #000;
}

.text{
    flex: 1;
    font-size: 18px;
    color: #000;
}
